<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adopt Dogs</title>
    <link rel="stylesheet" href="css/adoption.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  </head>
  <body>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/index">
          <img src="images/logo-1-removebg-preview.png" alt="">
            
            <span> Woofy </span>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div
              class="d-flex mx-auto flex-column flex-lg-row align-items-center"
            >
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/index"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/adoption">Animal Adoption</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/service">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/donor">Donate Now</a>
                </li>
                <li class="nav-item">
                  <a
                    href="/login-form-08/index"
                    class="btn btn-info"
                    role="button"
                    >Login</a>
                </li>
              </ul>
              <form
                class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <div id="accordion"></div>

    <!-- <div class="container">
      <div class="card">
        <div class="card__header">
          <img
            src="images/stray-dog-1.jpg"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
        <div class="card__body">
          <h4 class="findDog">Julie</h4>
          <p class="findDescription">
            test
          </p>
        </div>
        <div class="card__footer">
          <a href="#" class="btn btn-info" role="button">KNOW MORE</a>
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <img
            src="images/stray-dog-2.webp"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
        <div class="card__body">
          <h4 class="findDog">Moony</h4>
          <p class="findDescription">
            test
          </p>
        </div>
        <div class="card__footer">
          <a href="#" class="btn btn-info" role="button">KNOW MORE</a>
          
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <img
            src="images/stray-dog-6.jpeg"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
        <div class="card__body">
          <h4 class="findDog">Lara</h4>
          <p class="findDescription">
            test
          </p>
        </div>
        <div class="card__footer">
          <a href="#" class="btn btn-info" role="button">KNOW MORE</a>
          
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <img
            src="images/stray-dog-7.jpeg"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
        <div class="card__body">
          <h4 class="findDog">Rani</h4>
          <p class="findDescription">
            test
          </p>
        </div>
        <div class="card__footer">
          <a href="#" class="btn btn-info" role="button">KNOW MORE</a>
          
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <img
            src="images/stray-dog-5.jfif"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
        <div class="card__body">
          <h4 class="findDog">Kookie</h4>
          <p class="findDescription">
            test
          </p>
        </div>
        <div class="card__footer">
          <a href="#" class="btn btn-info" role="button">KNOW MORE</a>
          
        </div>
      </div>
      <div class="card">
        <div class="card__header">
          <img
            src="images/stray-dog-4.webp"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div> -->
        <!-- <div class="card__body">
          <h4 class="findDog">Koo</h4>
          <p class="findDescription">
            TEST
          </p>
        </div>
        <div class="card__footer">
          <a href="#" class="btn btn-info" role="button">KNOW MORE</a>
          
        </div> -->
      </div>
    </div>
    <script type="text/javascript; charset=utf-8" src="../index.js"></script>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
    
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyCKuaoONp77W6Yxrtz3McXueNni4gxVmfU",
        authDomain: "woofy-46f44.firebaseapp.com",
        databaseURL: "https://woofy-46f44-default-rtdb.firebaseio.com",
        projectId: "woofy-46f44",
        storageBucket: "woofy-46f44.appspot.com",
        messagingSenderId: "762347083399",
        appId: "1:762347083399:web:89bbe7dc09b48c21218a22",
        measurementId: "G-F5ZR88TD90"
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
      
      import {getDatabase, set, get, update, remove, ref, child, onValue}
      from "https://www.gstatic.com/firebasejs/9.13.0/firebase-database.js"

      const db = getDatabase();

      // var findViaName = document.querySelector(".findDog").innerHTML;
      // var findAge = document.querySelector(".findAge");
      // var findDescription = document.querySelector(".findDescription");
      // var findStatus = document.querySelector(".findStatus");

      const dbref = ref(db, 'Dogs/');


      onValue(dbref, (snapshot) => {
      // snapshot.forEach((childSnapshot) => {
      //   const childKey = childSnapshot.key;
      //   const childData = childSnapshot.val();
      //   // ...
        const container = document.getElementById('accordion');

        snapshot.forEach((snapshot, idx) => {
        // Create card element
        const card = document.createElement('div');
        card.classList = 'card-body';

        // Construct card content
        const content = `
          <div class="column">
          <div class="row">
          <div class="card">
          

          <div id="collapse-${idx}" class="collapse show" aria-labelledby="heading-${idx}" data-parent="#accordion">
            <div class="card-body">

              <h5>Name: ${snapshot.val().Name}</h5>
              <p>Age: ${snapshot.val().Age}</p>
              <p>Description: ${snapshot.val().Description}</p>
              <p>Status: ${snapshot.val().Status}</p>
              
            </div>
          </div>
          <div class="card-header" id="heading-${idx}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-${idx}" aria-expanded="true" aria-controls="collapse-${idx}">
                <a href="https://chat.whatsapp.com/KrZEaENME6a9XJK1D0LI95"> Contact Us</a>
                </button>
            </h5>
          </div>
        </div>
        </div>
        </div>
        `;

        // Append newyly created card element to the container
        container.innerHTML += content;
      
      });
      }, {
        //onlyOnce: true
      });



    //   function findDog() {
    //     const dbref = ref(db);

    //     get(child(dbref, "Dogs/" + findViaName))
    //     .then((snapshot)=>{
    //         if(snapshot.exists()){
    //             //findAge.innerHTML = "Age: "+snapshot.val().Age;
    //             findDescription.innerHTML = "Description: "+snapshot.val().Description;
    //             findStatus.innerHTML = "Status: "+snapshot.val().Status;
    //         } else{
    //             alert("No data found");
    //         }
    //     })
    //     .catch((error)=>{
    //         alert(error)
    //     })
        
    // }
      //window.addEventListener('load', findDog); 

      </script>
  </body>
</html>
