<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/care.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
	<div class="brand-box">
		<span class="brand">WOOFY</span>
	</div>
	
	<div class="text-box">
		<h1 class="heading-primary">
			<span class="heading-primary-main">DOG CARE TIPS</span>
			<span class="heading-primary-sub">How to take Care of Dogs</span>
			<!-- <span class="youtube-container"> youtube</span> -->
		</h1>
		<!-- <div class="youtube-container"> play</div> -->
		<div class="youtube-container"> <%= data.items[1].snippet.description %></div>

		
	</div>
	<script type="text/javascript" src="./main.js"></script>

	
</header>
</body>


</html>