<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Dog Details</title>

    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"
    />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../css/dogDetails.css">

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../css/responsive.css" rel="stylesheet" />
   
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            
            <a class="navbar-brand" href="index.html">
            <img src="../images/logo-1-removebg-preview.png" alt="">
              
              <span> Woofy </span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div
                class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/dogDetails"
                      >Admin Panel<span class="sr-only">(current)</span></a
                    >
                  </li>                  
                  <li class="nav-item">
                    <a
                      href="/index"
                      class="btn btn-info"
                      role="button"
                      >Log out</a
                    >
                  </li>
                </ul>
                <form
                  class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0"
                ></form>
              </div>
              
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container"> 
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="../login-form-08/images/undraw_file_sync_ot38.svg" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <h3>Dog details</h3>
              <input class="custom_heading" type="text" placeholder="Enter dog name" id="dogName"></input><br><br>
              <input class="custom-heading" type="number" placeholder="Enter dog age" id="dogAge"></input><br><br>
              <!-- <input type="text" style="width: 90%;height: 150px;" placeholder="Enter description" id="dogDescription"> -->
              <textarea name="paragraph_text" cols="50" rows="10"type="text" style="width: 90%;height: 150px;" placeholder="Enter description" id="dogDescription"></textarea>
                
              </input><br> <br>
              <input placeholder="Enter dog status" id="dogStatus"><br><br>
                <!-- Status:  -->
            </input>
            <button class="button-25" id="insertBtn" role="button">Insert</button>
            <button id="editBtn">Edit Dog</button>
              <!-- <p>
                <button id="editBtn">Edit Dog</button>
                <button id="deleteBtn">Delete Dog</button>
              </p> -->
            </div>

            <div class="detail-box" id="fetchDetailDiv"><br><br>
                <h3>Fetching dog details</h3>
                <p>
                    <input type="text" placeholder="Enter dog name" id="findName"> </input><br>
                    <p id="findAge"></p>
                    <p id="findDescription"></p>
                    <p id="findStatus"></p>
                    <button id="findBtn">Find</button>
                    <button id="deleteBtn">Delete Dog</button>
                    <p>
                      
                      
                      
                    </p>
                </p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="info_items">
          <a href="">
            <div class="item">
              <div class="img-box box-1">
                <img src="" alt="" />
              </div>
              <div class="detail-box">
                <p>Location</p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="item">
              <div class="img-box box-2">
                <img src="" alt="" />
              </div>
              <div class="detail-box">
                <p>+02 1234567890</p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="item">
              <div class="img-box box-3">
                <img src="" alt="" />
              </div>
              <div class="detail-box">
                <p>demo@gmail.com</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>


    <!-- end info_section -->

    <!-- footer section -->
    
    <!-- footer section -->

    <script type="text/javascript; charset=utf-8" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript; charset=utf-8" src="js/bootstrap.js"></script>
    <script type="text/javascript; charset=utf-8" src="../index.js"></script>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyCKuaoONp77W6Yxrtz3McXueNni4gxVmfU",
          authDomain: "woofy-46f44.firebaseapp.com",
          databaseURL: "https://woofy-46f44-default-rtdb.firebaseio.com",
          projectId: "woofy-46f44",
          storageBucket: "woofy-46f44.appspot.com",
          messagingSenderId: "762347083399",
          appId: "1:762347083399:web:89bbe7dc09b48c21218a22",
          measurementId: "G-F5ZR88TD90"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        
        import {getDatabase, set, get, update, remove, ref, child}
        from "https://www.gstatic.com/firebasejs/9.13.0/firebase-database.js"

        const db = getDatabase();
        var dogName = document.querySelector("#dogName");
        var dogDescription = document.querySelector("#dogDescription");
        //var dogName = document.querySelector("#dogName"); for dog image
        var dogAge = document.querySelector("#dogAge");
        var dogStatus = document.querySelector("#dogStatus");
        var editdogAge = document.querySelector("#dogAge");
        var editdogStatus = document.querySelector("#dogStatus");
        

        var findViaName = document.querySelector("#findName");
        var findAge = document.querySelector("#findAge");
        var findDescription = document.querySelector("#findDescription");
        var findStatus = document.querySelector("#findStatus");

        var insertBtn = document.querySelector("#insertBtn");
        var deleteBtn = document.querySelector("#deleteBtn");
        var updateBtn = document.querySelector("#updateBtn");
        var findBtn = document.querySelector("#findBtn");


        function insertDog() {
            set(ref(db, "Dogs/" + dogName.value), {
                Name: dogName.value,
                Description: dogDescription.value,
                Age: dogAge.value,
                Status: dogStatus.value
            })
            .then(()=>{
                alert("Data entered successfully!!")
            })
            .catch((error)=>{
                alert(error)
            });

        }

        function deleteDog() {
            remove(ref(db, "Dogs/" + findViaName.value))
            .then(()=>{
              alert("Data deleted successfully!!");
            })
            .catch((error)=>{
              alert(error);
            })
        }
        
        function findDog() {
          const dbref = ref(db);
          const container = document.getElementById('fetchDetailDiv');

          get(child(dbref, "Dogs/" + findViaName.value))
          .then((snapshot)=>{
              if(snapshot.exists()){
                  findAge.innerHTML = "Age: "+snapshot.val().Age;
                  findDescription.innerHTML = "Description: "+snapshot.val().Description;
                  findStatus.innerHTML = "Status: "+snapshot.val().Status;
              } else{
                  alert("No data found");
              }
          })
          .catch((error)=>{
              alert(error)
          })
          
        }

        function updateDog() {
            update(ref(db, "Dogs/" + dogName.value), {
                //Image: 
                Age: editdogAge.value,
                Status: editdogStatus.value
            })
            .then(()=>{
                alert("Data updated successfully!!");
            })
            .catch((error)=>{
                alert(error)
            });

        }

        insertBtn.addEventListener('click', insertDog);
        deleteBtn.addEventListener('click', deleteDog);
        editBtn.addEventListener('click', updateDog);
        findBtn.addEventListener('click', findDog);

        </script> 

        
  </body>
</html>


