<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Services</title>

    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"
    />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/index">
            <img src="images/logo-1-removebg-preview.png" alt="">
              
              <span> Woofy </span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div
                class="d-flex mx-auto flex-column flex-lg-row align-items-center"
              >
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/index"
                      >Home <span class="sr-only">(current)</span></a
                    >
                  </li>
                
                  <li class="nav-item">
                    <a class="nav-link" href="/adoption">Animal Adoption</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/service">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/donor">Donate Now</a>
                  </li>
                  <li class="nav-item">
                    <a
                      href="/login-form-08/index"
                      class="btn btn-info"
                      role="button"
                      >Login</a
                    >
                  </li>
                </ul>
                <form
                  class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0"
                ></form>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- service section -->
    <section class="service_section layout_padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 offset-md-2">
            <h2 class="custom_heading">Our <span>Services</span></h2>
            <div class="container layout_padding2">
              <div class="row">
                <div class="col-md-4">
                  <div class="img_box">
                    <img src="images/sterilise-removebg-preview.png" alt="" />
                  </div>
                  <div class="detail_box">
                    <h6>Sterilization</h6>
                    <p>
                      Sterilisation is a surgical procedure in which a part of
                      your pet’s reproductive organs is removed to permanently
                      stop them from reproducing. This procedure is mostly
                      performed on male and female dogs, cats, rabbits, and
                      guinea pigs.
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="img_box">
                    <img src="images/medical-removebg-preview.png" alt="" />
                  </div>
                  <div class="detail_box">
                    <h6>Medical</h6>
                    <p>
                      Just as human medicine has made many huge advancements in
                      alternative medicine, so has canine medicine, in areas
                      like acupuncture, chiropractic care, herbal treatments,
                      homeopathy, massage and other kinds of non-standard
                      medicine
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="img_box">
                    <img src="images/vet-removebg-preview.png" alt="" />
                  </div>
                  <div class="detail_box">
                    <h6>Vet</h6>
                    <p>
                      Vets are important for pets because, besides them, no one
                      fully understands the problem of animals. One can bring a
                      pet to their home but cannot treat them in their illness.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="images/dog-removebg-preview.png" alt="" class="w-100" />
          </div>
        </div>
      </div>
    </section>

    <!-- end service section -->

    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="info_items">
          <a href="">
            <div class="item">
              <div class="img-box box-1">
                <img src="" alt="" />
              </div>
              <div class="detail-box">
                <p>Location</p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="item">
              <div class="img-box box-2">
                <img src="" alt="" />
              </div>
              <div class="detail-box">
                <p>+02 1234567890</p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="item">
              <div class="img-box box-3">
                <img src="" alt="" />
              </div>
              <div class="detail-box">
                <p>demo@gmail.com</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- end info_section -->

    <!-- footer section -->
 
    <!-- footer section -->

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript; charset=utf-8" src="../index.js"></script>
  </body>
</html>
