<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join us</title>
    <link rel="stylesheet" href="css/volunteer2.css">
</head>
<body>
    <form class="form">
  <h2>Join Us</h2>
  <p ><input placeholder="Name"></input></p>
  <p ><input placeholder="Email id "></input></p>
  <p ><input placeholder="Phone Number"></input></p>
  <p ><input placeholder="Why do you wish to volunteer? "></input></p>
  <button>Submit</button>
  <div>
    <span class="fa fa-phone"></span>001 1023 567
    <span class="fa fa-envelope-o"></span> contact@company.com
  </div>
</form>
<script type="text/javascript; charset=utf-8" src="../index.js"></script>
</body>
</html>